/AuthenticationModule.class
/CallHandlingModule.class
/Class.class
/CommunicationInterface.class
/DatabaseManagementSystem.class
/ErrorHandlingAndLogging.class
/HistoryTrackingModule.class
/LocationTrackingModule.class
/SecurityLayer.class
/SoundModeControlModule.class
/UserInterface.class
/UserPreferencesModule.class
/Call.class
/User.class
/Activity.class
/Coordinates.class
/SoundModeControlModule$SoundMode.class
